{
  "extends": ["plugin:@docusaurus/recommended"],
  "plugins": ["@docusaurus"],
  "rules": {
    "@docusaurus/string-literal-i18n-messages": "warn",
    "@docusaurus/no-untranslated-text": "warn",
    "@docusaurus/no-html-links": "warn",
    "@docusaurus/prefer-docusaurus-heading": "warn",
  }
}