.caption {
  padding: .4em;
  &Snap {
    @extend .caption;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    text-align: center;
    position: absolute;
  }
}

.position {
  --caption-height: 26px;
  position: absolute;
  width: 100%;
  &Bottom {
    @extend .position;
    top: calc((100% - (var(--caption-height) * 2)));
  }
  &Center {
    @extend .position;
    text-align: center;
  }
  &Left {
    @extend .position;
  }
  &Middle {
    @extend .position;
    top: calc((100% - var(--caption-height)) / 2);
  }
  &Right {
    @extend .position;
  }
  &Top {
    @extend .position;
    top: var(--caption-height);
  }
}
