.caption {
  padding: .4em;
  // display: inline;
  &Rounded {
    @extend .caption;
    background: rgba(255,255,255,.6);
    border-radius: 1em;
    padding: 1em;
    // width: 33%;
  }
  &Snap {
    @extend .caption;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    text-align: center;
    position: absolute;
  }
}

.position {
  --caption-height: 40px;
  --caption-width: 180px;
  --gap-bottom: calc(var(--caption-height) / 2);
  --gap-left: 5%;
  --gap-right: 5%;
  --gap-top: calc(var(--caption-height) / 2);
  position: absolute;
  width: 100%;
  &Bottom {
    @extend .position;
    // top: calc((100% - (var(--caption-height) * 1.5)));
    bottom: calc(var(--caption-height) + var(--gap-bottom));
  }
  &Center {
    @extend .position;
    text-align: center;
  }
  &Left {
    @extend .position;
    left: var(--gap-left);
    width: 35%;
    @media screen and (max-width: 640px) {
      width: calc(100% - (var(--gap-left) * 2));
    }
  }
  &Middle {
    @extend .position;
    top: calc((calc(100% - var(--vh-offset) / 2) - var(--caption-height)) / 2);
  }
  &Right {
    @extend .position;
    right: var(--gap-right);
    width: 35%;
    @media screen and (max-width: 640px) {
      width: calc(100% - (var(--gap-right) * 2));
    }
  }
  &Top {
    @extend .position;
    top: var(--gap-top);
  }
}
